<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Fruit Details</title>
</head>
<body>
    <h1><%= fruit.name %> Show Page</h1>
    <p>This is a <%= fruit.color %> color</p>
    
    <% if (fruit.readyToEat) { %>
        <p>This fruit is ready to eat</p>
    <% } else { %>
        <p>This fruit is NOT ready to eat</p>
    <% } %>

    <a href="/fruits">Back to Fruits Index</a>
</body>
</html>